*/bin
*/obj
/.vs/config/applicationhost.config
/.vs/dym/v15/.suo
/.vs/dym/v15/sqlite3/storage.ide
/Common/dym.Const/bin/Debug/netcoreapp1.1/dym.Const.deps.json
/Common/dym.Const/bin/Debug/netcoreapp1.1/dym.Const.dll
/Common/dym.Const/bin/Debug/netcoreapp1.1/dym.Const.pdb
/Common/dym.Const/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Common/dym.Const/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Common/dym.Const/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Common/dym.Const/obj/Debug/netcoreapp1.1/dym.Const.AssemblyInfo.cs
/Common/dym.Const/obj/Debug/netcoreapp1.1/dym.Const.csproj.CoreCompileInputs.cache
/Common/dym.Const/obj/Debug/netcoreapp1.1/dym.Const.csproj.FileListAbsolute.txt
/Common/dym.Const/obj/Debug/netcoreapp1.1/dym.Const.csprojResolveAssemblyReference.cache
/Common/dym.Const/obj/Debug/netcoreapp1.1/dym.Const.dll
/Common/dym.Const/obj/Debug/netcoreapp1.1/dym.Const.pdb
/Common/dym.Const/obj/dym.Const.csproj.nuget.g.props
/Common/dym.Const/obj/dym.Const.csproj.nuget.g.targets
/Common/dym.Const/obj/project.assets.json
/Common/dym.EngineData/bin/Debug/netcoreapp1.1/dym.Const.dll
/Common/dym.EngineData/bin/Debug/netcoreapp1.1/dym.Const.pdb
/Common/dym.EngineData/bin/Debug/netcoreapp1.1/dym.EngineData.deps.json
/Common/dym.EngineData/bin/Debug/netcoreapp1.1/dym.EngineData.dll
/Common/dym.EngineData/bin/Debug/netcoreapp1.1/dym.EngineData.pdb
/Common/dym.EngineData/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Common/dym.EngineData/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Common/dym.EngineData/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Common/dym.EngineData/obj/Debug/netcoreapp1.1/dym.EngineData.AssemblyInfo.cs
/Common/dym.EngineData/obj/Debug/netcoreapp1.1/dym.EngineData.csproj.CopyComplete
/Common/dym.EngineData/obj/Debug/netcoreapp1.1/dym.EngineData.csproj.CoreCompileInputs.cache
/Common/dym.EngineData/obj/Debug/netcoreapp1.1/dym.EngineData.csproj.FileListAbsolute.txt
/Common/dym.EngineData/obj/Debug/netcoreapp1.1/dym.EngineData.csprojResolveAssemblyReference.cache
/Common/dym.EngineData/obj/Debug/netcoreapp1.1/dym.EngineData.dll
/Common/dym.EngineData/obj/Debug/netcoreapp1.1/dym.EngineData.pdb
/Common/dym.EngineData/obj/dym.EngineData.csproj.nuget.g.props
/Common/dym.EngineData/obj/dym.EngineData.csproj.nuget.g.targets
/Common/dym.EngineData/obj/project.assets.json
/Component/dym.IRepository/bin/Debug/netcoreapp1.1/dym.IRepository.deps.json
/Component/dym.IRepository/bin/Debug/netcoreapp1.1/dym.IRepository.dll
/Component/dym.IRepository/bin/Debug/netcoreapp1.1/dym.IRepository.pdb
/Component/dym.IRepository/bin/Debug/netcoreapp1.1/dym.Model.dll
/Component/dym.IRepository/bin/Debug/netcoreapp1.1/dym.Model.pdb
/Component/dym.IRepository/bin/Debug/netcoreapp2.0/dym.IRepository.deps.json
/Component/dym.IRepository/bin/Debug/netcoreapp2.0/dym.IRepository.dll
/Component/dym.IRepository/bin/Debug/netcoreapp2.0/dym.IRepository.pdb
/Component/dym.IRepository/bin/Debug/netcoreapp2.0/dym.Model.dll
/Component/dym.IRepository/bin/Debug/netcoreapp2.0/dym.Model.pdb
/Component/dym.IRepository/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Component/dym.IRepository/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Component/dym.IRepository/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Component/dym.IRepository/obj/Debug/netcoreapp1.1/dym.IRepository.AssemblyInfo.cs
/Component/dym.IRepository/obj/Debug/netcoreapp1.1/dym.IRepository.csproj.CopyComplete
/Component/dym.IRepository/obj/Debug/netcoreapp1.1/dym.IRepository.csproj.CoreCompileInputs.cache
/Component/dym.IRepository/obj/Debug/netcoreapp1.1/dym.IRepository.csproj.FileListAbsolute.txt
/Component/dym.IRepository/obj/Debug/netcoreapp1.1/dym.IRepository.csprojResolveAssemblyReference.cache
/Component/dym.IRepository/obj/Debug/netcoreapp1.1/dym.IRepository.dll
/Component/dym.IRepository/obj/Debug/netcoreapp1.1/dym.IRepository.pdb
/Component/dym.IRepository/obj/Debug/netcoreapp2.0/dym.IRepository.AssemblyInfo.cs
/Component/dym.IRepository/obj/Debug/netcoreapp2.0/dym.IRepository.csproj.CopyComplete
/Component/dym.IRepository/obj/Debug/netcoreapp2.0/dym.IRepository.csproj.CoreCompileInputs.cache
/Component/dym.IRepository/obj/Debug/netcoreapp2.0/dym.IRepository.csproj.FileListAbsolute.txt
/Component/dym.IRepository/obj/Debug/netcoreapp2.0/dym.IRepository.csprojResolveAssemblyReference.cache
/Component/dym.IRepository/obj/Debug/netcoreapp2.0/dym.IRepository.dll
/Component/dym.IRepository/obj/Debug/netcoreapp2.0/dym.IRepository.pdb
/Component/dym.IRepository/obj/dym.IRepository.csproj.nuget.g.props
/Component/dym.IRepository/obj/dym.IRepository.csproj.nuget.g.targets
/Component/dym.IRepository/obj/project.assets.json
/Component/dym.LogicService/bin/Debug/netcoreapp1.1/dym.Const.dll
/Component/dym.LogicService/bin/Debug/netcoreapp1.1/dym.Const.pdb
/Component/dym.LogicService/bin/Debug/netcoreapp1.1/dym.EngineData.dll
/Component/dym.LogicService/bin/Debug/netcoreapp1.1/dym.EngineData.pdb
/Component/dym.LogicService/bin/Debug/netcoreapp1.1/dym.LogicService.deps.json
/Component/dym.LogicService/bin/Debug/netcoreapp1.1/dym.LogicService.dll
/Component/dym.LogicService/bin/Debug/netcoreapp1.1/dym.LogicService.pdb
/Component/dym.LogicService/bin/Debug/netcoreapp1.1/dym.Model.dll
/Component/dym.LogicService/bin/Debug/netcoreapp1.1/dym.Model.pdb
/Component/dym.LogicService/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Component/dym.LogicService/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Component/dym.LogicService/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Component/dym.LogicService/obj/Debug/netcoreapp1.1/dym.LogicService.AssemblyInfo.cs
/Component/dym.LogicService/obj/Debug/netcoreapp1.1/dym.LogicService.csproj.CopyComplete
/Component/dym.LogicService/obj/Debug/netcoreapp1.1/dym.LogicService.csproj.CoreCompileInputs.cache
/Component/dym.LogicService/obj/Debug/netcoreapp1.1/dym.LogicService.csproj.FileListAbsolute.txt
/Component/dym.LogicService/obj/Debug/netcoreapp1.1/dym.LogicService.csprojResolveAssemblyReference.cache
/Component/dym.LogicService/obj/Debug/netcoreapp1.1/dym.LogicService.dll
/Component/dym.LogicService/obj/Debug/netcoreapp1.1/dym.LogicService.pdb
/Component/dym.LogicService/obj/Debug/netcoreapp2.0/dym.LogicService.AssemblyInfo.cs
/Component/dym.LogicService/obj/Debug/netcoreapp2.0/dym.LogicService.csproj.CoreCompileInputs.cache
/Component/dym.LogicService/obj/dym.LogicService.csproj.nuget.g.props
/Component/dym.LogicService/obj/dym.LogicService.csproj.nuget.g.targets
/Component/dym.LogicService/obj/project.assets.json
/Component/dym.Model/bin/Debug/netcoreapp1.1/dym.Model.deps.json
/Component/dym.Model/bin/Debug/netcoreapp1.1/dym.Model.dll
/Component/dym.Model/bin/Debug/netcoreapp1.1/dym.Model.pdb
/Component/dym.Model/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Component/dym.Model/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Component/dym.Model/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Component/dym.Model/obj/Debug/netcoreapp1.1/dym.Model.AssemblyInfo.cs
/Component/dym.Model/obj/Debug/netcoreapp1.1/dym.Model.csproj.CoreCompileInputs.cache
/Component/dym.Model/obj/Debug/netcoreapp1.1/dym.Model.csproj.FileListAbsolute.txt
/Component/dym.Model/obj/Debug/netcoreapp1.1/dym.Model.csprojResolveAssemblyReference.cache
/Component/dym.Model/obj/Debug/netcoreapp1.1/dym.Model.dll
/Component/dym.Model/obj/Debug/netcoreapp1.1/dym.Model.pdb
/Component/dym.Model/obj/dym.Model.csproj.nuget.g.props
/Component/dym.Model/obj/dym.Model.csproj.nuget.g.targets
/Component/dym.Model/obj/project.assets.json
/Component/dym.Repository/bin/Debug/netcoreapp1.1/dym.IRepository.dll
/Component/dym.Repository/bin/Debug/netcoreapp1.1/dym.IRepository.pdb
/Component/dym.Repository/bin/Debug/netcoreapp1.1/dym.Model.dll
/Component/dym.Repository/bin/Debug/netcoreapp1.1/dym.Model.pdb
/Component/dym.Repository/bin/Debug/netcoreapp1.1/dym.Repository.deps.json
/Component/dym.Repository/bin/Debug/netcoreapp1.1/dym.Repository.dll
/Component/dym.Repository/bin/Debug/netcoreapp1.1/dym.Repository.pdb
/Component/dym.Repository/bin/Debug/netcoreapp2.0/dym.IRepository.dll
/Component/dym.Repository/bin/Debug/netcoreapp2.0/dym.IRepository.pdb
/Component/dym.Repository/bin/Debug/netcoreapp2.0/dym.Model.dll
/Component/dym.Repository/bin/Debug/netcoreapp2.0/dym.Model.pdb
/Component/dym.Repository/bin/Debug/netcoreapp2.0/dym.Repository.deps.json
/Component/dym.Repository/bin/Debug/netcoreapp2.0/dym.Repository.dll
/Component/dym.Repository/bin/Debug/netcoreapp2.0/dym.Repository.pdb
/Component/dym.Repository/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Component/dym.Repository/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Component/dym.Repository/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Component/dym.Repository/obj/Debug/netcoreapp1.1/dym.Repository.AssemblyInfo.cs
/Component/dym.Repository/obj/Debug/netcoreapp1.1/dym.Repository.csproj.CopyComplete
/Component/dym.Repository/obj/Debug/netcoreapp1.1/dym.Repository.csproj.CoreCompileInputs.cache
/Component/dym.Repository/obj/Debug/netcoreapp1.1/dym.Repository.csproj.FileListAbsolute.txt
/Component/dym.Repository/obj/Debug/netcoreapp1.1/dym.Repository.csprojResolveAssemblyReference.cache
/Component/dym.Repository/obj/Debug/netcoreapp1.1/dym.Repository.dll
/Component/dym.Repository/obj/Debug/netcoreapp1.1/dym.Repository.pdb
/Component/dym.Repository/obj/Debug/netcoreapp2.0/dym.Repository.AssemblyInfo.cs
/Component/dym.Repository/obj/Debug/netcoreapp2.0/dym.Repository.csproj.CopyComplete
/Component/dym.Repository/obj/Debug/netcoreapp2.0/dym.Repository.csproj.CoreCompileInputs.cache
/Component/dym.Repository/obj/Debug/netcoreapp2.0/dym.Repository.csproj.FileListAbsolute.txt
/Component/dym.Repository/obj/Debug/netcoreapp2.0/dym.Repository.csprojResolveAssemblyReference.cache
/Component/dym.Repository/obj/Debug/netcoreapp2.0/dym.Repository.dll
/Component/dym.Repository/obj/Debug/netcoreapp2.0/dym.Repository.pdb
/Component/dym.Repository/obj/dym.Repository.csproj.nuget.g.props
/Component/dym.Repository/obj/dym.Repository.csproj.nuget.g.targets
/Component/dym.Repository/obj/project.assets.json
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.Const.dll
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.Const.pdb
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.EngineData.dll
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.EngineData.pdb
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.IRepository.dll
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.IRepository.pdb
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.LogicService.dll
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.LogicService.pdb
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.Model.dll
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.Model.pdb
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.Repository.dll
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.Repository.pdb
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.Web.deps.json
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.Web.dll
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.Web.pdb
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.Web.runtimeconfig.dev.json
/Server/dym.Web/bin/Debug/netcoreapp1.1/dym.Web.runtimeconfig.json
/Server/dym.Web/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Server/dym.Web/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Server/dym.Web/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Server/dym.Web/obj/Debug/netcoreapp1.1/dym.Web.AssemblyInfo.cs
/Server/dym.Web/obj/Debug/netcoreapp1.1/dym.Web.csproj.CopyComplete
/Server/dym.Web/obj/Debug/netcoreapp1.1/dym.Web.csproj.CoreCompileInputs.cache
/Server/dym.Web/obj/Debug/netcoreapp1.1/dym.Web.csproj.FileListAbsolute.txt
/Server/dym.Web/obj/Debug/netcoreapp1.1/dym.Web.csprojResolveAssemblyReference.cache
/Server/dym.Web/obj/Debug/netcoreapp1.1/dym.Web.dll
/Server/dym.Web/obj/Debug/netcoreapp1.1/dym.Web.pdb
/Server/dym.Web/obj/dym.Web.csproj.nuget.g.props
/Server/dym.Web/obj/dym.Web.csproj.nuget.g.targets
/Server/dym.Web/obj/project.assets.json
/Common/dym.Loader/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Common/dym.Loader/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Common/dym.Loader/obj/Debug/netcoreapp1.1/dym.Loader.AssemblyInfo.cs
/Common/dym.Loader/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
